<h2 class="catalog-title">EMPLEADOS</h2>

<section class="container">
    <table class="table table-hover text-center align-middle table-responsive">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Oficina</th>
                <th scope="col">
                    <button class="btn btn-outline-primary border-2 mx-3" data-bs-toggle="modal" data-bs-target="#formEmployees" (click)="clickedBtnAddEmployee()">
                        <span class="far fa-edit"></span> Agregar empleado
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of getListOfEmployees(); let i=index" class="align-self-center">
                <td>{{employee.number}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>{{employee.office}}</td>
                <td>
                    <button class="btn btn-outline-success border-2" data-bs-toggle="modal" data-bs-target="#formEmployees" (click)="clickedBtnEditEmployee(i)"> <span class="far fa-edit"></span> Editar </button>
                    <button class="btn btn-outline-danger border-2" (click)="clickedBtnDeleteEmployee(i)"> <span class="fas fa-trash"></span> Eliminar </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="formEmployees" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="formEmployeesTitle">Agregar nuevo empleado</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formEmployee" (ngSubmit)="checkSubmit()">
                        <div class="mb-3">
                            <label for="employeeNumber" class="form-label">Número del empleado (*)</label>
                            <input type="text" class="form-control" id="employeeNumber" formControlName="number" [class.is-invalid]="isEmployeeNumberInvalid()">
                            <small *ngIf="isEmployeeNumberInvalid()" class="text-danger">Debe ser un número entre 10 y 12 dígitos</small>
                        </div>
                        <div class="mb-3">
                            <label for="employeeName" class="form-label">Nombre del empleado (*)</label>
                            <input type="text" class="form-control" id="employeeName" formControlName="name" [class.is-invalid]="isEmployeeNameInvalid()">
                            <small *ngIf="isEmployeeNameInvalid()" class="text-danger">Solo caracteres alfanuméricos (max. 40)</small>
                        </div>
                        <div class="mb-3">
                            <label for="employeeEmail" class="form-label">Correo electrónico del empleado (*)</label>
                            <input type="email" class="form-control" id="employeeEmail" formControlName="email" [class.is-invalid]="isEmployeeEmailInvalid()">
                            <small *ngIf="isEmployeeEmailInvalid()" class="text-danger">Formato de correo inválido</small>
                        </div>
                        <div class="mb-3">
                            <label for="employeePhoneNumber" class="form-label">Teléfono del empleado (*)</label>
                            <input type="text" class="form-control" id="employeePhoneNumber" formControlName="phoneNumber" [class.is-invalid]="isEmployeePhoneNumberInvalid()">
                            <small *ngIf="isEmployeePhoneNumberInvalid()" class="text-danger">Deben ser solo 10 números</small>
                        </div>
                        <div class="mb-3">
                            <label for="employeeOffice" class="form-label">Oficina donde labora el empleado</label>
                            <select class="form-select" id="employeeOffice" formControlName="office" [class.is-invalid]="isEmployeeOfficeInvalid()">
                                <option *ngFor="let office of getListOfOffices(); let i=index">{{office.name}}</option>
                            </select>
                            <small *ngIf="isEmployeeOfficeInvalid()" class="text-danger">Debe seleccionar una opción</small>
                        </div>
                        <button type="submit" class="btn btn-primary" [class.disabled]="areEmployeeFieldsInvalid() || formEmployee.invalid">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>